<ul class="video-list">
  <video-list-entry videoTitle="window.exampleVideoData[0].snippet.title" videoDescription="window.exampleVideoData[0].snippet.description"></video-list-entry>
  <video-list-entry videoTitle="window.exampleVideoData[0].snippet.title" videoDescription="window.exampleVideoData[0].snippet.description"></video-list-entry>
  <video-list-entry videoTitle="window.exampleVideoData[0].snippet.title" videoDescription="window.exampleVideoData[0].snippet.description"></video-list-entry>
  <video-list-entry videoTitle="window.exampleVideoData[0].snippet.title" videoDescription="window.exampleVideoData[0].snippet.description"></video-list-entry>
  <video-list-entry videoTitle="window.exampleVideoData[0].snippet.title" videoDescription="window.exampleVideoData[0].snippet.description"></video-list-entry>
</ul>
